* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    touch-action: manipulation;
    color: white;
}

body {
    background: #50a387;
}

#timerGIF {
    width: 51px;
    position: absolute;
    right: 2px;
    top: 42px;
}

section {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    z-index: 100;
}
section div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 25px;
    background: rgb(47,179,224);
    background: linear-gradient(90deg, rgba(47,179,224,1) 0%, rgba(107,206,230,1) 50%, rgba(47,179,224,1) 100%);
    border-radius: 15px;
    border: 3px solid #34b1e1;
}

section div:nth-child(3){
    width: 40px;
    height: 40px;
    background-image: url(./../../images/herz.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
}

body > div:nth-child(2) {
    padding: 10px;
    position:absolute;
    right: calc(50% - 153px);
    top: 100px;
    text-align: center;
    width: 280px;
    font-size: 1.3rem;
    background: rgb(114,100,87);
    background: linear-gradient(90deg, rgba(114,100,87,1) 0%, rgba(147,138,130,1) 50%, rgba(114,100,87,1) 100%);
    border: 3px solid #f19222;
    border-radius: 15px;
}

body > div:nth-child(3) {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9px;
    top: 50px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

body > div:nth-child(5) {
    padding: 10px;
    position:absolute;
    right: calc(50% - 153px);
    bottom: 260px;
    text-align: center;
    width: 280px;
    min-height: 27px;
    font-size: 1.3rem;
    background: rgb(114,100,87);
    background: linear-gradient(90deg, rgba(114,100,87,1) 0%, rgba(147,138,130,1) 50%, rgba(114,100,87,1) 100%);
    border: 3px solid #f19222;
    border-radius: 15px;
}

table {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 155.5px);
}

table tr td {
    width: 95px;
    height: 50px;
    font-size: 1.3rem;
    background: rgb(243,142,58);
    background: linear-gradient(90deg, rgba(243,142,58,1) 0%, rgba(250,172,71,1) 50%, rgba(243,142,58,1) 100%);
    text-align: center;
    border: 3px solid #ef8a23;
    border-radius: 10px;
}

#reset {
    position: absolute;
    bottom: 268px;
    left: calc(50% - 145px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243,142,58);
    background: linear-gradient(90deg, rgba(243,142,58,1) 0%, rgba(250,172,71,1) 50%, rgba(243,142,58,1) 100%);
    border: 3px solid #ef8a23;
    border-radius: 10px;
    width: 55px;
    height: 30px;
}

#start {
    color: black;
    font-size: 2rem;
    background-color: #50a387;
    box-shadow: 0px 0px 5px 5px black;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px );
    left: calc(50% - 75px );
    border-radius: 50%;

    z-index: 102;
}

.warten {
    position: absolute;
    left: calc(50% - 112px);
    bottom: calc(50% - 142px);
    background-color: red;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid darkred;
    box-shadow: 0px 0px 5px 5px black;
    z-index: 101;
    display: none;
}

.aufruf {
    display: block;
}

.dialog {
    display: none;
}

.body-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    pointer-events: all;
    transition: opacity 300ms ease-in-out;
}

.false {
    color: red;
    text-shadow: 0px 0px 5px white;
}